<div class="container">
  <div class="card-container">
    <div class="card">
      <div class="card-title">Names Form</div>
      <div class="card-body">
        <form [formGroup]="formGroup" (ngSubmit)="submit()" >
          <div>
            <label for="fName">First Name:</label>
            <input type="text" [formControl]="firstNameController" id="fName"/>
          </div>
          <br>
          <div>
            <label for="lName">Last Name:</label>
            <input type="text" formControlName="lastName" id="lName"/>
          </div>
          <button type="submit">Add Name</button>
        </form>
        {{names | json}}
      </div>
    </div>
  </div>

</div>
